* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.ui-page {
  background:#eee;
}

#browse-topics .topic.ui-block-a {
  margin-right: 1%;
}

#browse-topics .topic.ui-block-b {
  margin-left: 1%;
}

#browse-topics .topic {
    padding:1rem;
    border:1px solid #ddd;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    border-radius:5px;
    background:#fff;
    color:#333;
    text-decoration:none;
    margin-bottom:2%;
    width: 49% !important;
}

#browse-topics .topic .img {
  background: no-repeat -2px -2px;
  background-image:url('./images/medical/dermatology.png');
  width: 31px;
  height: 31px;
  border: 0px;
  margin: -8px 1rem 0px 0;
  border: 0px;
  float:left;
}

#browse-topics .topic .name {
}

