<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

  <gap:platform name="ios" />
  <gap:platform name="android" />

  <name>Medumonics - Medical Mnemonics</name>
  <description> Learn medical mnemonics the fun way with Medumnics.  </description>
  <author href="https://www.meducation.net" email="support@meducation.net"> Meducation </author>

  <preference name="fullscreen" value="true" />
  <content src="index.html" />
  <access origin="*" />

</widget>
